/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f2f2f2;
    line-height: 1.6;
    min-height: 100vh; /* Забезпечує, що контент займає всю висоту сторінки */
    display: flex;
    flex-direction: column;
}
    
main {
      flex-grow: 1; /* Контент займає доступне місце, щоб підвал був знизу */
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    margin-left: 20px;
}


.card {
  position: relative;
  width: 190px;
  height: 254px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,#ff0058);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,#ff0058);
  filter: blur(30px);
}

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card img {
  position: absolute;
  z-index: 3;
  scale: 0.8;
  opacity: 0.25;
  transition: 0.5s;
}

.card:hover img {
  scale: 0.5;
  opacity: 0.9;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 14px;
}

.sci li .fa-facebook {
  width: 10px;
}

.sci li a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}




.logo {
    width: 80px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f2f2f2;
}

nav ul li a:hover {
    color: #ff7400;
}

/* Стилі для звичайного стану зображення */
img, .icon {
    transition: transform 0.3s ease, filter 0.3s ease; /* Плавний перехід */
    width: 150px; /* Задайте розмір за бажанням */
    height: 150px;
}

/* Ефекти при наведенні */
img:hover, .icon:hover {
    transform: scale(1.1); /* Масштабування зображення на 10% */
    filter: brightness(1.2) contrast(1.1) saturate(1.5); /* Зміна яскравості, контрасту і насиченості */
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

/* Стилі секції новин */
.news-section {
    padding: 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #ff7400;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.news-item {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-item h3 {
    font-size: 1.5em;
    margin: 20px;
}

.news-item p {
    margin: 0 20px 20px;
    line-height: 1.6;
}

.read-more {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff7400;
    color: #fff;
    text-decoration: none;
    margin: 0 20px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.read-more:hover {
    background-color: #e65c00;
}

/* Підвал */
footer {
    padding: 25px 0;
    background: #333;
    color: #fff;
    position: relative; /* Відносне позиціонування */
    width: 100%;
    bottom: 0;
    clear: both;
    display: flex; /* Використовуємо flexbox */
    justify-content: center; /* Центруємо текст */
    align-items: center; /* Вирівнюємо елементи по вертикалі */
    text-align: center;
    position: relative;
}

footer p {
    flex: 1; /* Займаємо всю доступну ширину для центрування тексту */
    margin: 0;
}

.card1 {
    max-width: fit-content;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    transition: all 0.5s ease;
    z-index: 1000;
    margin-right: 10px;
    position: absolute; /* Вирівнюємо картку іконок за допомогою absolute */
    right: 10px; /* Відступ від правого краю */
  }
  
  .card1 ul {
    padding: 10px;
    display: flex;
    list-style: none;
    gap: 0.5rem; /* Відстань між іконками */
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .svg {
    transition: all 0.3s;
    padding: 0.5rem; /* Відступ всередині іконок */
    height: 40px; /* Збільшимо розмір іконок */
    width: 40px;
    border-radius: 100%;
    color: rgb(255, 174, 0);
    fill: currentColor;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  }
